.landing-page {
    text-align: center;
    padding: 50px 20px;
    background-color: #f7f7f7;
  }
  
  .landing-header {
    margin-bottom: 30px;
  }
  
  .logo {
    max-width: 150px;
    margin-bottom: 20px;
  }
  
  .landing-content {
    margin-top: 20px;
  }
  
  .landing-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
  }
  